.jumbotron{
    background-image: url("./images/luffy.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.colonne1{
    background-image: url(/images/zoro2.jpg);
    background-size: cover;
}
.colonne2{
    background-image: url(/images/sanji.jpeg);
    background-size: cover;
}